@tailwind base;
@tailwind components;
@tailwind utilities;




/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Example CSS for hero section */
.hero {
  height: 60vh;
  background-size: cover;
  background-position: center;
}


@keyframes scrollLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scrollLeft {
  animation: scrollLeft 10s linear infinite;
}

.animate-scrollRight {
  animation: scrollRight 10s linear infinite;
}



/* about_hero */

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}


.animate-float {
  animation: float 3s ease-in-out infinite;
}


/* testmonial */

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.card-float {
  animation: float 5s ease-in-out infinite;
}